[defaults]
remote_user = ansible
inventory = ./inventory.txt
#roles_path = ./myroles
roles_path = /usr/share/ansible/roles:./myroles:./roles
#collections_path = ./mycollections
collections_path = ./mycollections:/usr/share/ansible/collections:/home/ansible/.ansible/collections
#vault_password_file=./secret.txt
[privilege_escalation]
become = True
