[defaults]

remote_user = ansible
inventory = ./inventory
become =  true
gather_facts =  false
roles_path = ./roles:/usr/share/ansible/roles/

[privilege_escalation]

become = true
become_user = root
become_method = sudo


